* @REPLACE_WITH_GITHUB_OWNER
/.github/ @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PLATFORM_OWNER
/src/ @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PHR_FRONTEND_OWNER
/package.json @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PHR_FRONTEND_OWNER
/cloudbuild.yaml @REPLACE_WITH_GITHUB_OWNER @REPLACE_WITH_PLATFORM_OWNER
